@font-face {
  font-family: 'Clash Display';
  src:
    url('../fonts/ClashDisplay-Regular.woff2') format('woff2'),
    url('../fonts/ClashDisplay-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Satoshi';
  src:
    url('../fonts/Satoshi-Regular.woff2') format('woff2'),
    url('../fonts/Satoshi-Regular.woff') format('woff');
  font-weight: normal;
}
